/** theme variables **/
$primary: #3ec89d;
$secondary: #3ab7ff;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$dark: #18181d;
/** bootstrap **/
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/** project style **/
@import 'common';
